*~
\#*\#
.emacs.desktop
.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive
*_flymake.*
eshell/
elpa/
*.rel
auto/
.cask/
dist/
flycheck_*.el
server/
.projectile
.dir-locals.el
network-security.data
auto-save-list/
eln-cache/
elpaca/
ielm-history.eld
recentf
transient/
.cache/
.lsp-session-v1
projectile-bookmarks.eld
custom.el
.dap-breakpoints
eclipse.jdt.ls/
workspace/
session.*
racket-mode/
url/
lsp-cache/
bin/.pid
